.table {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.matchup-type {
  display: flex;
  gap: 12px;
  align-items: stretch;
}

.matchups-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  flex: 1;
  gap: 12px;
}
